.homepage-container {
    padding-top: 148px;
}

.frame1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    border-radius: 12px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 144px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame1-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 196px;
}

.frame1 h1 {
    color: white;
    font-size: 44px;
    margin: 0;
}

.frame1 p {
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
    color: white;
}

.explore-books-btn2 {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 4px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    background-color: white;
    color: #0a3b6b;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.explore-books-btn2:hover {
    background-color: #f0f4ff;
}

.icon-explore {
    width: 24px;
    height: 24px;
}

.icon {
    width: 20px;
    height: 20px;
}

.frame2,
.frame3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px 144px 20px;
    gap: 20px;
    height: 540px;
}

.frame2-image,
.frame3-image {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.frame2-image h1,
.frame3-image h1 {
    font-size: 44px;
    color: white;
    margin: 0px;
}

.frame2-text,
.frame3-text {
    flex: 1;
    line-height: 2;
}

.frame2-text p,
.frame3-text p {
    font-size: 18px;
}

.frame4 {
    background-color: #ECECF4;
    border-radius: 12px;
    margin-top: 0px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 144px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.contact-item {
    margin-bottom: 28px;
}

.contact-info h2 {
    font-size: 28px;
    margin: 0px 0px 24px 0px;
    color: #0a3b6b;
}

.contact-info h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
    color: #0E4783;
}

.contact-info p {
    font-size: 16px;
    color: #0a3b6b;
    padding: 0px;
    text-align: left;
    margin-left: 0px;
}

.icon-policy {
    width: 24px;
    height: 24px;
}