.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  width: 320px;
  padding: 16px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title2 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin: 8px 0px 0px 0px;
}

.error-text {
  font-size: 12px;
  color: #e74c3c;
  margin: 0px;
}

.text-field{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 13px;
  margin-bottom: 6px;
  font-weight: 500;
}

input, textarea {
  height: 38px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 13px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  outline: none;
  border-color: #0E4783;
  box-shadow: 0 0 0 2px rgba(14, 71, 131, 0.2);
}

.submit-button {
  height: 38px;
  width: 100%;
  background: #0E4783;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-button:hover {
  background: #093160;
}

p {
  margin: 8px;
  font-size: 14px;
  text-align: center;
}

.address-table {
    width: 100%;
    border-radius: 10px;
    background: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    border-collapse: collapse;
    font-size: 0.95rem;
    overflow: hidden;
}

.address-table th {
    background-color: #0E4783;
    color: white;
    font-weight: 500;
    padding: 12px 10px;
    text-align: left;
}

.address-table td {
    padding: 6px 10px;
    border-bottom: 1px solid #e2e2e2;
    color: #555;
}

.address-table tbody tr:hover {
    background-color: #f5faff;
}

.close-btn2{
    border: none;
    background-color: transparent;
    border-radius: 50%;
    padding: 2px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.close-btn2:hover{
    background-color: rgba(14, 71, 131, 0.144)
}