.request-book-container{
    padding-top: 132px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.request-book-container h1{
    margin-bottom: 12px;
}

.request-book-container p{
    margin: 0px 0px 12px 0px;
    color: #4CAF50;
}

.form-box {
  width: 320px;
  padding: 16px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  margin-bottom: 92px;
}

.text-field{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 13px;
  margin-bottom: 6px;
  font-weight: 500;
}

input {
  height: 38px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 13px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  outline: none;
  border-color: #0E4783;
  box-shadow: 0 0 0 2px rgba(14, 71, 131, 0.2);
}

.submit-button {
  height: 38px;
  width: 100%;
  background: #0E4783;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-button:hover {
  background: #093160;
}

p {
  margin: 8px;
  font-size: 14px;
  text-align: center;
}